
@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

<div class="row g-4">
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Users</h2>
            <div class="h1">@ViewBag.UsersCount</div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Posts</h2>
            <div class="h1">@ViewBag.PostsCount</div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Comments</h2>
            <div class="h1">@ViewBag.CommentsCount</div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Likes</h2>
            <div class="h1">@ViewBag.LikesCount</div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Most commented</h2>
            <div>@ViewBag.PostMostCommented</div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="h-100 p-4 border rounded bg-light text-center d-flex flex-column justify-content-between">
            <h2>Most liked</h2>
            <div>@*@ViewBag.PostMostLiked*@</div>
        </div>
    </div>

    <div class="col">

    </div>

    <div class="col">

    </div>
</div>
