@model List<Social.Models.Post>

<main>
    @if (User.IsInRole("user"))
    {
        <form class="mb-4">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Post something</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    }

    <div class="row row-cols-1 g-4">
        @foreach (var post in Model)
        {
            @*<li>@post.Contents @Html.ActionLink("Read", "Details", "Posts", null, new { id = post.PostId })</li>*@
            <div class="col">
                <div class="card">
                    @*<img src="..." class="card-img-top" alt="...">*@
                    <div class="card-body">
                        <h5 class="card-title">@post.User.Username</h5>
                        <p class="card-text">@post.Contents <a href="/posts/details/@post.PostId">...read all</a></p>
                        @post.Likes.Count() Likes
                        <a href="#" class="btn btn-danger card-link">Like</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var comment in post.Comments)
                        {
                            <li class="list-group-item"><span class="badge rounded-pill text-bg-secondary">@comment.User.Username</span> @comment.Contents</li>
                        }
                    </ul>
                    <form class="m-4">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Add a comment</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </form>
                </div>
            </div>
        }
    </div>

    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</main>